[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Hazel_Kai/vendor/spdlog"]
	path = Hazel_Kai/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Hazel_Kai/vendor/GLFW"]
	path = Hazel_Kai/vendor/GLFW
	url = https://github.com/TheCherno/glfw.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/TheCherno/imgui.git
[submodule "Hazel_Kai/vendor/imgui"]
	path = Hazel_Kai/vendor/imgui
	url = https://github.com/TheCherno/imgui.git
[submodule "Hazel_Kai/vendor/glm"]
	path = Hazel_Kai/vendor/glm
	url = https://github.com/g-truc/glm.git
